@model Chat
<div class="chat-body" id="message-list">

    @foreach (var message in Model.Messages)
    {
        <div class="message">
            <p>@message.TImestamp @message.Name: @message.Text</p>
        </div>
    }
</div>
<div>
    <footer>
        <div>
            <form onsubmit="sendMessage(event)" asp-controller="Chat" asp-action="CreateMessage">
                <input type="hidden" name="chatId" value="@Model.Id" />
                <input type="hidden" name="roomName" value="@Model.Name" />
                <input type="text" name="message" />
                <button id="sendButton" type="submit">Send!</button>
            </form>
        </div>
    </footer>
</div>

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

    const messages = document.getElementById('message-list');

    var _connectionId = '';

    connection.on("RecieveMessage", function (data) {
        console.log(data);

        var p = document.createElement("p");
        var msg = data.timestamp + " " + data.name + ": " + data.text;
        p.appendChild(document.createTextNode(msg));

        messages.append(p);
    })

    var joinRoom = function () {
    var url = '/SignalR/JoinRoom/' + _connectionId + '/@Model.Name'
    axios.post(url, null)
        .then(res => {
            console.log("Room Joined!", res);
        })
        .catch(err => {
            console.err("Failed to join the room!", res);
        })
}

    connection.start()
        .then(function () {
            connection.invoke('getConnectionId')
                .then(function (connectionId) {
                    _connectionId = connectionId;
                    joinRoom();
                    messages.scrollTop = messages.scrollHeight;
                })
        })
        .catch(function (err) {
            console.log(err);
        })

    var sendMessage = function (event) {
        event.preventDefault();
        var data = new FormData(event.target);

        axios.post('/SignalR/SendMessage', data)
            .then(res => {
                console.log("Message sent!");
                messages.scrollTop = messages.scrollHeight;
            })
            .catch(er => {
                console.log("Failed to send a message!");
            })
    }

</script>
